verif/Projeto_IH.cr.mti
verif/Projeto_IH.mpf
verif/transcript
verif/vsim.wlf
verif/work/_info
verif/work/_lib.qdb
verif/work/_lib1_0.qdb
verif/work/_lib1_0.qpg
verif/work/_lib1_0.qtl
verif/work/_vmake
